<lead><%= present_num_of_admins %></lead>

<ul class="list-group list-group-flush w-50">
  <% User.all.where(role: 2).each do |user| %>
      <li class="list-group-item">
        <span><%= link_to user.username, edit_user_account_path(user) %></span> 
      </li>
  <% end %>
</ul>