<h1>Search results for ""</h1>

<ul class="list-group list-group-flush w-50">
	<%= sort_link(@q, :title) %>
	<% @articles.each do |article| %>
	<li class="list-group-item">
		<span><%= link_to article.title, article %> by: <%= article.user.username %></span>
	</li>
	<% end %>
</ul>


