<div class="d-flex flex-column">
  <% if current_user %>
    <h1 class="display-3">Hi, <%= current_user.username %></h1>

    <h1>Welcome to your Dashboard:</h1>

    <% if current_user.admin? %>
      <p>There are <%= pluralize(User.count, "user") %> on the platform</p>
    <% end %>
  <% end %>
</div>