<lead><%= present_num_of_users %></lead>

<ul class="list-group list-group-flush w-50">
  <% User.all.where(role: 1).each do |user| %>
      <li class="list-group-item">
        <span><%= link_to user.username %></span> 
      </li>
  <% end %>
</ul>