<dialog id="turbo-confirm">
    <form method="dialog">
      <div class="modal-content">

          <div class="modal-title mb-3">
            <h6 class="text-center">Are you sure?</h6>
          </div>

        <div class="modal-footer">
          <button value="cancel" class="btn btn-primary btn-sm me-3">Cancel</button>
          <button value="confirm" class="btn btn-danger btn-sm">Delete</button>
        </div>
      </div>
    </form>
  </dialog>